@media (max-width: 992px){
	.main_menu{
		display: none;
	}

	.bar_hamburger{
		display: inline-block;
	}

	.logo {
	    text-align: center;
	}
}

@media (max-width: 500px){
	.call_back{
		width: 100%;
	}

	.phone{
		width: 100%;
	}
}